= render partial: "contents-left"

#contents-right
  .group-header
    .group-header__left
      .group-header__left__name
        = @group.title
      %p.group-header__left__members
        - @group.users.each do |user|
          = "    " + user.name
    .group-header__right
      = link_to 'Edit',  edit_group_path(@group.id)
  .group-main
    - @messages.each do |message|
      .group-main__messages
        %p.group-main__messages__user-name
          = message.user.name
        %p.group-main__messages__date
          = message.created_at.in_time_zone('Tokyo')
        %p.group-main__messages__message
          = message.body
  = form_for [@group, @message], html: {class: 'message_send'} do |f|
    .group-footer
      .footer-form
        .footer-form__message
          = f.text_field :body, {placeholder: "メッセージ", class: "footer-form__message__input" }
          %label.upload-label{ for: "upload-icon" }
            %i.fa.fa-picture-o
              = f.file_field :image, {id: "upload-icon"}
        = f.submit "Send", class: "footer-form__send"
