#contents-left
  .header-user
    .header-user__name
      = current_user.name
    .header-user__icon
      = link_to new_group_path do
        %i.fa.fa-edit
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group
          %p.group__name
            = group.title
          %p.group__message
            = group.show_last_message